<nav class="navbar navbar-expand-xxl navbar-light" (scroll)="Onscroll($event)">
  <div class="container-fluid">
    <div class="nav-container">
      <a class="navbar-brand fw-bolder" href="#">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">MY WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PORTFOLIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">RESUME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
      </ul>
    </div>
  </div>
</nav>

<!-- HOME -->
<div class="home" id="HOME">
  <div class="home-cont">
    <p id="name">RAGUVARADHAN</p>
    <p id="job">WEB DEVELOPER</p>
    <p id="desc">I am a professional web developer creating modern and responsive designs.</p>
    <button>Let's Begin</button>
  </div>
  <img [src]="img" alt="" class="home-img">
</div>

<!-- WORK -->
<div class="work" id="WORK">
  <p class="heading">MY <span class="">WORK</span></p>
  
</div>