<nav class="navbar navbar-expand-xxl navbar-light" (scroll)="Onscroll($event)">
  <div class="container-fluid">
    <div class="nav-container">
      <a class="navbar-brand fw-bolder" href="#">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" routerLink="" fragment="HOME">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="" fragment="WORK">MY WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="" fragment="PORTFOLIO">PORTFOLIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="" fragment="RESUME">RESUME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="" fragment="ABOUT">ABOUT</a>
            </li>
      </ul>
    </div>
  </div>
</nav>

<!-- HOME -->
<div class="home" id="HOME">
  <div class="home-cont">
    <p id="name">RAGUVARADHAN</p>
    <p id="job">WEB DEVELOPER</p>
    <p id="desc">I am a professional web developer creating modern and responsive designs.</p>
    <button>Let's Begin</button>
  </div>
  <img [src]="img" alt="" class="home-img">
</div>

<!-- WORK -->
<div class="work" id="WORK">
  <p class="heading">MY <span class="">WORK</span></p>
  <div class="work-container">
    <div class="work-cont">
      <i class="fa-brands fa-angular"></i>
      <p>Angular</p>
      <p> Angular is a powerful and versatile framework suitable for developing scalable, maintainable, and efficient web applications.</p>
    </div>
    <div class="work-cont">
      <i class="fa-brands fa-bootstrap"></i>
      <p>Bootstrap</p>
      <p>Bootstrap is a popular open-source front-end framework used for designing responsive and mobile-first web pages</p>
    </div>
    <div class="work-cont">
      <i class="fa-brands fa-java"></i>
      <p>Spring Boot</p>
      <p>Spring Boot is an open-source framework designed to simplify the development of Java applications. It is built on top of the Spring Framework and provides a streamlined approach to creating stand-alone, production-grade Spring-based applications. </p>
    </div>
  </div>
</div>